<h1>New view</h1>
<!--
   <form action="/users" method="post" accept-charset="UTF-8">
    <label for="username">Username:</label><br>
    <input id="username" name="user[username]" type="text" /><br>
    <label for="email">Email:</label><br>
    <input id="email" name="user[email]" type="text" /><br>
    <label for="password">Password:</label><br>
    <input id="password" name="user[password]" type="text" /><br>

     <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="submit" value="Submit">
</form>
-->
<!-- <%= form_tag("/users") %>
Username:<br><%=text_area_tag(:ussername)%><br>
Email:<br><%=text_area_tag(:email)%><br>
Password:<br><%=password_field_tag(:password_digest) %><br>
<%=submit_tag("Submit") %>
-->

<%=form_for @user, url: user_path, html: {class: 'niceForm'} do |f| %>
  Username:<br> <%= f.text_field :ussername, placeholder: "Username" %><br>
  Email:<br> <%= f.text_field :email %> <br>
  Passwordd: <br> <%= f.text_field :password_digest %> <br>
  <%= f.submit "Submit" %><br>
<% end %>